{% extends 'base.html' %}

{% block title %}InstaGo | Add tags to {{ blog.title }}{% endblock %}

{% block content %}

<div class="container mt-4">
    <h3>Add tags to "{{ blog.title }}"</h3>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        <label for="{{ form.tags.id_for_label }}">{{ form.tags.label }}</label>
        {{ form.tags }}
        {% if form.tags.errors %}
        {% for error in form.tags.errors %}
        <small class="form-text text-danger">
            {{ error }}
        </small>
        {% endfor %}
        {% else %}
        {% if form.tags.help_text %}
        <small class="form-text text-muted">
            {{ form.tags.help_text }}
        </small>
        {% endif %}
        {% endif %}
        <div class="mt-2">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Add tags
            </button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#staticBackdrop">
                <i class="fas fa-folder-plus"></i> Create new tag
            </button>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create new tag</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'new-tag' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <!-- <label for="tag-title">Title</label> -->
                        <input class="form-control" type="text" name="title" id="tag-title" placeholder="Your tag title here.">
                        <input type="hidden" name="blogslug" value="{{ blog.slug }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}