{% spaceless %}
<div style="position: absolute; right: 2em; top: 1em; z-index: 970; transition: top 0.5s;">

    {% if messages %}
    <div id="message" class="container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible text-left mb-2" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="d-flex justify-content-between align-items-start">
                <h2 class="flex-shrink-0">
                    {% if message.tags == 'success' %}
                    <i class="fas fa-check-circle"></i>
                    {% elif message.tags == 'danger' %}
                    <i class="fas fa-skull-crossbones"></i>
                    {% elif message.tags == 'warning' %}
                    <i class="fas fa-exclamation-circle"></i>
                    {% elif message.tags == 'info' %}
                    <i class="fas fa-info-circle"></i>
                    {% endif %}
                </h2>
                <div class="ml-4">
                    <strong>
                        {{ message.tags | upper }}
                    </strong>
                    <p>{{ message | title }}</p>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endspaceless %}