<div class="d-flex align-items-center">
  <img src="{{ blog.get_profile_image_url }}" alt="avatar"
    style="height: 30px; width: 30px; border-radius: 10em; object-fit: cover;">
  <h6 class="mb-0 ml-4 text-capitalize">
    <a href="{% url 'user-profile' blog.user.username %}" class="text-decoration-none text-dark">
      {{ blog.user.get_full_name }}
    </a>
  </h6>

  {% if 'accounts/user-profile/' not in request.path %}

  {% include 'partials/user_follow_buttons.html' with user=blog.user blog_id=blog.id %}

  {% endif %}
</div>
