{% extends 'base.html' %}

{% block title %}InstaGo | Edit blog{% endblock %}

{% block extrastyles %}
{% include 'django_quill/media.html' %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 mx-auto">
            <h3>Write your blog</h3>
            <hr>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">Title</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label for="{{ form.body.id_for_label }}">Description</label>
                    {{ form.body }}
                </div>
                <div class="form-group">
                    <label for="{{ form.content.id_for_label }}">Content</label>
                    {{ form.content }}
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}